In [1]:
import os
import pandas as pd

In [2]:
all_files = os.listdir(os.getcwd()+'\\data\\raw')
data_dict_ref = {'agecl': 'Age', 'all': 'All Families', 'edcl': 'Education', 
                 'famstruct': 'Family Structure', 'housecl': 'Housing Status',
                 'inccat': 'Income Percentile', 'nwcat': 'Net Worth Percentile',
                 'occat1': 'Employment Status', 'occat2': 'Occupation Type',
                 'racecl4': 'Race'
                }
all_csv_files = []
for f in all_files:
    if f.endswith('.csv'):
        all_csv_files.append(f)
all_csv_files

['interactive_bulletin_charts_agecl_mean.csv',
 'interactive_bulletin_charts_agecl_median.csv',
 'interactive_bulletin_charts_all_mean.csv',
 'interactive_bulletin_charts_all_median.csv',
 'interactive_bulletin_charts_edcl_mean.csv',
 'interactive_bulletin_charts_edcl_median.csv',
 'interactive_bulletin_charts_famstruct_mean.csv',
 'interactive_bulletin_charts_famstruct_median.csv',
 'interactive_bulletin_charts_housecl_mean.csv',
 'interactive_bulletin_charts_housecl_median.csv',
 'interactive_bulletin_charts_inccat_mean.csv',
 'interactive_bulletin_charts_inccat_median.csv',
 'interactive_bulletin_charts_nwcat_mean.csv',
 'interactive_bulletin_charts_nwcat_median.csv',
 'interactive_bulletin_charts_occat1_mean.csv',
 'interactive_bulletin_charts_occat1_median.csv',
 'interactive_bulletin_charts_occat2_mean.csv',
 'interactive_bulletin_charts_occat2_median.csv',
 'interactive_bulletin_charts_racecl4_mean.csv',
 'interactive_bulletin_charts_racecl4_median.csv',
 'z1-nonfin-debt.csv']

In [3]:
master_df = pd.DataFrame()
mean_df = pd.DataFrame()
median_df = pd.DataFrame()
debt_data = all_csv_files.pop()

for filename in all_csv_files:
    category = filename.split('_')[3]
    df = pd.read_csv(os.getcwd()+'\\data\\raw\\'+filename, index_col='year')
    df['Categorization'] = data_dict_ref[category]
    if '_mean' in filename:
        df = df.add_suffix('_mean')
        mean_df = pd.concat([mean_df, df], axis=0)
    elif '_median' in filename:
        df = df.add_suffix('_median')
        median_df = pd.concat([median_df, df], axis=0)

In [4]:
master_df = pd.concat([master_df, mean_df, median_df], axis=1)
master_df.drop(columns=['Category_median'], inplace=True)
master_df.rename(columns={"Category_mean": "Category"}, inplace=True)
master_df.drop(columns=['Categorization_median'], inplace=True)
master_df.rename(columns={"Categorization_mean": "Categorization"}, inplace=True)

In [5]:
first_column = master_df.pop('Categorization')
master_df.insert(0, 'Categorization', first_column)

In [7]:
gdp_df = pd.read_csv(os.getcwd()+'\\data\\world_gdp\\API_NY.GDP.MKTP.CD_DS2_en_csv_v2_4150784.csv',  skiprows=3)
us_gdp_df = gdp_df[gdp_df['Country Name']=='United States']
world_gdp_df = gdp_df[gdp_df['Country Name']=='World']
world_gdp_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
259,World,WLD,GDP (current US$),NY.GDP.MKTP.CD,1.390298e+12,1.446418e+12,1.548223e+12,1.669094e+12,1.827514e+12,1.990867e+12,...,7.744323e+13,7.957553e+13,7.511714e+13,7.631320e+13,8.122464e+13,8.627430e+13,8.756805e+13,8.474698e+13,NaN,NaN

In [8]:
master_df.head()

,Categorization,Category,Before_Tax_Income_mean,Net_Worth_mean,Assets_mean,Financial_Assets_mean,Transaction_Accounts_mean,Certificates_of_Deposit_mean,Savings_Bonds_mean,Directly_Held_Bonds_mean,...,Other_Res_Real_Estate_Debt_median,Installment_Loans_median,Other_Lines_of_Credit_median,Credit_Card_Balances_median,Other_Debt_median,Mortgages_Home_Equity_Loans_median,Home_Equity_Lines_of_Credit_median,Vehicle_Installment_Loans_median,Education_Installment_Loans_median,Other_Installment_Loans_median
year,,,,,,,,,,,,,,,,,,,,,
1989,Age,Less than 35,55.509892,99.099434,162.03719,39.419189,8.064208,16.729122,2.346840,34.211586,...,34.806683,9.944766,2.784534,1.988953,1.591163,87.513939,37.790112,9.944766,6.563546,1.988953
1989,Age,35-44,98.887344,295.420260,400.74631,103.157810,16.174339,28.275034,3.825881,179.602140,...,69.613365,13.922672,5.966859,1.988953,1.988953,77.569176,29.834297,13.266317,3.977907,3.977907
1989,Age,45-54,120.250140,560.901000,665.26245,190.108990,34.650478,44.405811,5.566218,216.039550,...,39.779064,13.922672,1.988953,1.988953,5.966859,49.723831,41.768017,11.933719,7.955813,4.574592
1989,Age,55-64,94.909744,612.913090,691.87665,236.098110,45.525204,95.668076,14.797529,173.570830,...,67.624405,7.955813,3.977907,1.988953,5.966859,39.779064,37.790112,9.944766,3.977907,1.969064
1989,Age,65-74,71.143509,581.070860,613.83185,247.993060,46.005711,96.296051,24.618301,228.714520,...,27.845345,5.966859,3.977907,1.093924,3.977907,19.889532,13.922672,7.955813,7.955813,1.690610

In [9]:
master_df['US_GDP'] = None
master_df['World_GDP'] = None
master_df

,Categorization,Category,Before_Tax_Income_mean,Net_Worth_mean,Assets_mean,Financial_Assets_mean,Transaction_Accounts_mean,Certificates_of_Deposit_mean,Savings_Bonds_mean,Directly_Held_Bonds_mean,...,Other_Lines_of_Credit_median,Credit_Card_Balances_median,Other_Debt_median,Mortgages_Home_Equity_Loans_median,Home_Equity_Lines_of_Credit_median,Vehicle_Installment_Loans_median,Education_Installment_Loans_median,Other_Installment_Loans_median,US_GDP,World_GDP
year,,,,,,,,,,,,,,,,,,,,,
1989,Age,Less than 35,55.509892,99.099434,162.03719,39.419189,8.064208,16.729122,2.346840,34.211586,...,2.784534,1.988953,1.591163,87.513939,37.790112,9.944766,6.563546,1.988953,None,None
1989,Age,35-44,98.887344,295.420260,400.74631,103.157810,16.174339,28.275034,3.825881,179.602140,...,5.966859,1.988953,1.988953,77.569176,29.834297,13.266317,3.977907,3.977907,None,None
1989,Age,45-54,120.250140,560.901000,665.26245,190.108990,34.650478,44.405811,5.566218,216.039550,...,1.988953,1.988953,5.966859,49.723831,41.768017,11.933719,7.955813,4.574592,None,None
1989,Age,55-64,94.909744,612.913090,691.87665,236.098110,45.525204,95.668076,14.797529,173.570830,...,3.977907,1.988953,5.966859,39.779064,37.790112,9.944766,3.977907,1.969064,None,None
1989,Age,65-74,71.143509,581.070860,613.83185,247.993060,46.005711,96.296051,24.618301,228.714520,...,3.977907,1.093924,3.977907,19.889532,13.922672,7.955813,7.955813,1.690610,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016,Race,Other,92.469833,486.788940,603.76910,237.081340,36.084339,69.917938,4.507063,1437.112400,...,1.223108,2.520667,7.445007,154.218000,63.814346,12.762869,20.207876,3.190717,None,None
2019,Race,"White, non-Hispanic",122.499660,980.549260,1101.41190,481.431090,51.514420,105.510320,8.303209,673.580750,...,2.000000,3.200000,7.500000,138.000000,24.000000,14.000000,23.000000,4.800000,None,None
2019,Race,"Black, non-Hispanic",59.598972,142.329740,206.96565,68.804108,13.268765,39.633217,2.163269,NaN,...,3.500000,1.300000,2.300000,118.000000,15.000000,11.000000,30.000000,2.200000,None,None
2019,Race,Hispanic,58.513363,165.540990,244.59644,50.391312,11.862248,14.020637,3.803653,NaN,...,1.200000,1.900000,4.200000,131.000000,13.000000,14.000000,17.600000,3.000000,None,None
2019,Race,Other,111.971430,656.602660,788.31970,302.331600,43.891804,120.870470,15.414285,426.950840,...,1.000000,2.400000,3.000000,178.000000,30.000000,14.000000,19.000000,5.000000,None,None

In [10]:
for i in master_df.index:
    master_df.at[i, 'US_GDP'] = us_gdp_df[str(i)].values[0]
    master_df.at[i, 'World_GDP'] = world_gdp_df[str(i)].values[0]
master_df.head()

,Categorization,Category,Before_Tax_Income_mean,Net_Worth_mean,Assets_mean,Financial_Assets_mean,Transaction_Accounts_mean,Certificates_of_Deposit_mean,Savings_Bonds_mean,Directly_Held_Bonds_mean,...,Other_Lines_of_Credit_median,Credit_Card_Balances_median,Other_Debt_median,Mortgages_Home_Equity_Loans_median,Home_Equity_Lines_of_Credit_median,Vehicle_Installment_Loans_median,Education_Installment_Loans_median,Other_Installment_Loans_median,US_GDP,World_GDP
year,,,,,,,,,,,,,,,,,,,,,
1989,Age,Less than 35,55.509892,99.099434,162.03719,39.419189,8.064208,16.729122,2.346840,34.211586,...,2.784534,1.988953,1.591163,87.513939,37.790112,9.944766,6.563546,1.988953,5641580000000.0,20171334961132.800781
1989,Age,35-44,98.887344,295.420260,400.74631,103.157810,16.174339,28.275034,3.825881,179.602140,...,5.966859,1.988953,1.988953,77.569176,29.834297,13.266317,3.977907,3.977907,5641580000000.0,20171334961132.800781
1989,Age,45-54,120.250140,560.901000,665.26245,190.108990,34.650478,44.405811,5.566218,216.039550,...,1.988953,1.988953,5.966859,49.723831,41.768017,11.933719,7.955813,4.574592,5641580000000.0,20171334961132.800781
1989,Age,55-64,94.909744,612.913090,691.87665,236.098110,45.525204,95.668076,14.797529,173.570830,...,3.977907,1.988953,5.966859,39.779064,37.790112,9.944766,3.977907,1.969064,5641580000000.0,20171334961132.800781
1989,Age,65-74,71.143509,581.070860,613.83185,247.993060,46.005711,96.296051,24.618301,228.714520,...,3.977907,1.093924,3.977907,19.889532,13.922672,7.955813,7.955813,1.690610,5641580000000.0,20171334961132.800781

In [11]:
master_df.to_csv('Masterdata.csv')